@{
    ViewData["Title"] = "Pokladní Systém";
}

<div class="text-center">
    <div class="mb-4">
        <h1>@ViewData["Title"]</h1>
    </div>
    <p class="lead text-dark mb-4">Vítejte na hlavní stránce</p>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <p class="lead text-dark mb-4">Jste přihlášen(a) jako: @User.Identity.Name</p>
            <p class="lead text-dark mb-4">Pro změnu účtu se prosím <a class="lead text-black" asp-area="Security" asp-controller="Account" asp-action="Logout">odhlaste</a></p>
        }
        else
        {
            <p class="lead text-dark mb-4">Nejste přihlášen(a)</p>
            <a class="btn btn-primary btn-lg" asp-area="Security" asp-controller="Account" asp-action="Login"><i class="bi bi-person-fill me-1"></i>Přihlásit se</a>
        }
    }
</div>