@model Category

@{
    ViewData["Title"] = "Přidání nové kategorie";
}

<div class="text-center mb-4">
    <h1>@ViewData["Title"]</h1>
</div>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label" asp-for="Name">Název kategorie:</label>
        <input class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Přidat</button>
</form>