@model LoginViewModel
@{
    ViewData["Title"] = "Přihlásit se";
}
<div class="text-center mb-4">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                @{
                    if (!User.Identity.IsAuthenticated)
                    {
                        <form asp-action="Login" method="post">
                            <div class="mb-3">
                                <label class="form-label" asp-for="Username">Uživatelské jméno:</label>
                                <input type="text" class="form-control" asp-for="Username">
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="Password">Heslo:</label>
                                <input type="password" class="form-control" asp-for="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="text-center mb-4">
                                <button type="submit" class="btn btn-primary">Přihlásit se</button>
                            </div>
                            <div class="text-center">
                                <span asp-validation-for="Active" class="text-danger"></span>
                            </div>
                        </form>
                        if (Model?.LoginFailed == true)
                        {
                            <div class="text-danger text-center">Přihlášení se nezdařilo!</div>
                        }
                    }
                    else
                    {
                        <p class="lead text-dark">Již jste přihlášený jako @User.Identity.Name. Pro změnu účtu se prosím <a class="lead text-black" asp-area="Security" asp-controller="Account" asp-action="Logout">odhlaste</a>.</p>
                    }
                }
            </div>
        </div>
    </div>
</div>